services:
  db:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: isecure
      MYSQL_USER: user
      MYSQL_PASSWORD: userpass
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - appnet

  backend:
    image: infyniteloop/isec:latest
    container_name: backend
    platform: linux/amd64
    restart: always
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/isecure
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: userpass
    ports:
      - "8080:8080"
    networks:
      - appnet

  frontend:
    image: infyniteloop/runningroom:latest
    container_name: frontend
    platform: linux/amd64
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"
    networks:
      - appnet

volumes:
  mysql_data:

networks:
  appnet: