version: "3.9"

services:
  db:
    image: mysql:8
    container_name: my-mysql
    environment:
      - MYSQL_ROOT_PASSWORD=96Cse@124
      - MYSQL_DATABASE=isecure
      - MYSQL_USER=user
      - MYSQL_PASSWORD=96Cse@124
    ports:
      - "3307:3306"   # Map to 3307 on host for Workbench
    networks:
      - app-network

  app:
    build: .
    container_name: springboot-app
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/isecure
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: 96Cse@124
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      JWT_PRIVATE_KEY: MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDYzZjDAsJHRs08VEQKYpNCuYEQ6NgKaY73viYfVJZt/+B2IsVvppZhGWqi/x69cSNf/6O2DyCFDwKtcJYbEjDXLD4ly5somZSgYGWmMJNi+Yxa9kAzZwgp3/rgiPDrc8MGt6IbdhzQBlhbLm8gbr760kkDMSsu4aAG0utKuLQdMaBqe5y86M8Ce4Wj7c9WOkaJwgW+/aBF8tVkVaZ4MuuzDeiCW0L3XO6/LX3gloDaLC+qZaqMT9egzpKR1Ux3qlp+KxpF8G2GJ1HwgtUlOM9yaVpVw5qBWGubBLYS0MGKkShrj0oCF/xMZFzV78EjmO0+QHaAu0RmIRjfeClwLP83AgMBAAECggEBAIUJDB9GFx8TtCa78pCI0qJUIH3W05L4GTGurcf16OUQ6ZS0W4DasVZd+VCRyjQnM7TZsoSqHaNohZUWDBYKgIvY6z3YBZrROyF6ZYWoMxi91sGOb/Da3WiMt26GuYdRnrAFiOTfAmkoK5mwEaLOMkTJOuJJjp0S+FaXoKhWVLfANUMnSiuy0ut5VEwt5o1T55/VxmRBcXRhnX9FV3ZWtbPfEc7Y90VKeZAwKPWS5YJwkMkgmDI8x9GUJ0Ihq9Ud0xpCk6qgRbuyQpiWLORnUsgjo6YqB69AdaJt6qXpqyIBsZOswwj9JH1NHUkM924Ue2YEo49LDHf3DyxDq/eSnqkCgYEA/IaBKm2lck2fFX6Ey2R6wmtrBUOLYf9c76g+JCpArpok3554Q29rmR1nchXL9cD6/MjTjIRuG/sF7hKmgsBhKR1lV/9IzF7LjCxslZeBKz37KzRwt3zS9G6GphNKBixUezG9iWEk9rCMtX/hvVEMKOCgb6XEGlJGjsTli49783MCgYEA28lDkxfuiLyZrNjVvqUbhwXhRYm9DkkCrTuWNxuFkxBCuWuWasLSS73ceMasZp0saqdabwlVVDOJhuAAG56Wvu70TlQMfjmSL3VCx71Oe95F8OMEfJwITv5hrU3a8c90HnICCe0J09T1b3gPJR1+q4+63hu/Bqoj3bW+/bnK/C0CgYBNIgB+JzOr8E2xUQ3a2nwsuobb+r+uVUPb6DXi8g0DyA2PSGZPos7o2/RnAoVkMWf4opcLir/fSBONnqDBu2VyG4qDEHT6B9KApGkeYEKSJMJ9de0f/r6o7sGuJKIttIixgIX2Wnfh6hdwsPkQzJq8ObCHqch2ib8HiNjcgh1IRQKBgBivnXBrEra3AEfCvxc/sjzTMz89PkfZeXx9odyksbcX73amF+n74eTx+U5zei+4XaHJFEY+dSAU/dBxXnG7uVDOxA/8Lr8KtlmwQQTwRV1yVMa+qOVaHTDKL6xofzwDwhYdVg9JWX46gCq6AHF5w51/cky6LxWPjKG9ZStYb+0tAoGBAI8mbwsBUKOtMIS7k2H++McnJ4OdPwaYU4TxYj2z59N4G/T2ioHChhw+uCoi/T+Mo0FkiC+BujJe0H2YNOLbaowZrGEK5KDMxjDnRrCYun1i4dow6DVYoMAHqjaYednZGjIfH42JhHsmKtNxSaR9gXSLgnDOnOl5D7DEX6cRLEIA
      JWT_PUBLIC_KEY: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2M2YwwLCR0bNPFRECmKTQrmBEOjYCmmO974mH1SWbf/gdiLFb6aWYRlqov8evXEjX/+jtg8ghQ8CrXCWGxIw1yw+JcubKJmUoGBlpjCTYvmMWvZAM2cIKd/64Ijw63PDBreiG3Yc0AZYWy5vIG6++tJJAzErLuGgBtLrSri0HTGganucvOjPAnuFo+3PVjpGicIFvv2gRfLVZFWmeDLrsw3ogltC91zuvy194JaA2iwvqmWqjE/XoM6SkdVMd6pafisaRfBthidR8ILVJTjPcmlaVcOagVhrmwS2EtDBipEoa49KAhf8TGRc1e/BI5jtPkB2gLtEZiEY33gpcCz/NwIDAQAB
    ports:
      - "8080:8080"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
